:root {
  --white: #f0f0f0;
  --black: #0f0f0f;
  --bs-primary: #950606 !important;
  --dark-red: #3F1717;
  --orange: #fb4405;
}

.custom-button {
  color: var(--white);
  background-color: var(--dark-red);
}

.custom-button:hover {
  color: var(--dark-red);
  background-color: var(--white);
}

.alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 1040;
}

.alert-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050;
}

.alert {
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background-color: var(--dark-red);
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../public/assets/images/logo2.png');
  background-size: 480px 480px;
  background-repeat: repeat;
  background-position: top left;
  filter: blur(5px);
  z-index: -1;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.main-title {
  color: var(--dark-red);
  border-color: var(--white);
  background-color: var(--white);
  position: absolute;
  left: -9999px;
}

.row-wrapper {
  padding: 1rem;
  background-color: var(--white);
  border-radius: 1rem;
  color: var(--black);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: var(--bs-primary);
}

footer a {
  color: var(--bs-primary);
}

a:hover,
a:focus,
a:active {
  color: var(--dark-red);
}

footer a:hover,
footer a:focus,
footer a:active {
  color: var(--dark-red);
}

.bg-primary {
  background-color: var(--bs-primary) !important;
}

.navbar-brand span {
  color: var(--red);
}

.nav-link {
  color: var(--red);
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: var(--white) !important;
  background-color: var(--dark-red) !important;
}

.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item:active {
  color: var(--white);
  background-color: var(--dark-red);
}

.min-vh-90 {
  min-height: 90dvh;
}

.custom-icon {
  color: var(--black);
}

.mt-4 {
  margin-top: 2rem !important;
}

.menu-title {
  color: var(--dark-red);
  font-weight: 500;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}

.menu-section {
  background-color: var(--white);
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-section p {
  color: var(--black);
  font-weight: bold;
  font-size: 1.25rem;
}

.accordion-item {
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  margin-bottom: 1rem;
}

.accordion-button {
  background-color: var(--white);
  color: var(--black);
  font-size: 1rem;
  font-weight: bold;
  border: none;
  transition: all 0.3s ease;
}

.accordion-button:not(.collapsed) {
  background-color: var(--dark-red);
  color: var(--white);
}

.accordion-button:hover,
.accordion-button:focus,
.accordion-button:active {
  background-color: var(--dark-red);
  color: var(--white);
}

.accordion-body {
  background-color: var(--light-gray);
  padding: 1rem;
  border-top: 1px solid var(--dark-red);
}

.card {
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  overflow: hidden;
}

.card-img-top {
  max-height: 200px;
  object-fit: cover;
}

.card-body {
  background-color: var(--white);
}

.card-text {
  font-size: 1rem;
  color: var(--black);
}

.card-text small {
  color: var(--dark-red);
}

@media (max-width: 768px) {
  .accordion-button {
    font-size: 0.9rem;
  }

  .card-img-top {
    max-height: 150px;
  }

  .menu-section {
    padding: 1rem;
  }

  .accordion-item {
    margin-bottom: 1rem;
  }

  .card-body {
    padding: 0.75rem;
  }
}

@media (max-width: 576px) {
  .menu-section {
    padding: 0.75rem;
  }

  .accordion-button {
    font-size: 0.85rem;
  }

  .accordion-body {
    padding: 0.75rem;
  }

  .card-img-top {
    max-height: 120px;
  }
}

.contact-image {
  max-width: 75%;
  object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: '>';
  font-size: 4rem !important;
  color: var(--dark-red);
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 4rem !important;
  color: var(--dark-red);
}

/* Extra Extra Small (Old Mobile) */
@media (max-width: 400px) {
  .menu-image {
    max-height: 200px !important;
  }

  .menu-text {
    margin-top: 2rem !important;
  }

  .carousel-control-prev {
    margin-left: -1rem !important;
  }

  .carousel-control-next {
    margin-right: -1rem !important;
  }

  .carousel-control-next-icon:after {
    font-size: 2.5rem !important;
  }

  .carousel-control-prev-icon:after {
    font-size: 2.5rem !important;
  }

  .contact-map {
    height: 400px;
    margin-top: 1rem;
  }

  .contact-image {
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 95%;
  }

  .playroom-text {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .col-md-6 {
    width: 100%;
  }

  .playroom-text-bundle {
    margin-bottom: 0rem !important;
  }
}

/* Extra Small (Mobile) */
@media (min-width: 400px) and (max-width: 575.98px) {
  .menu-image {
    max-height: 280px !important;
  }

  .menu-text {
    margin-top: 2rem !important;
  }

  .carousel-control-prev {
    margin-left: -1rem !important;
  }

  .carousel-control-next {
    margin-right: -1rem !important;
  }

  .min-vh-90 {
    min-height: 100dvh;
  }

  .carousel-control-next-icon:after {
    font-size: 3rem !important;
  }

  .carousel-control-prev-icon:after {
    font-size: 3rem !important;
  }

  .contact-map {
    height: 450px;
    margin-top: 1rem;
  }

  .contact-image {
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 95%;
  }

  .playroom-text {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .col-md-6 {
    width: 100%;
  }

  .playroom-text-bundle {
    margin-bottom: 0rem !important;
  }
}

/* Small Screens (≥576px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .menu-image {
    max-height: 400px !important;
  }

  .menu-text {
    margin-top: 2rem !important;
  }

  .carousel {
    margin-bottom: 0rem !important;
  }

  .carousel-control-prev {
    margin-left: -2rem !important;
  }

  .carousel-control-next {
    margin-right: -2rem !important;
  }

  .carousel-control-next-icon:after {
    font-size: 3.5rem !important;
  }

  .carousel-control-prev-icon:after {
    font-size: 3.5rem !important;
  }

  .contact-map {
    margin-top: 1rem;
  }

  .contact-image {
    max-width: 95% !important;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 100%;
  }

  .playroom-text {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .col-md-6 {
    width: 100%;
  }

  .playroom-text-bundle {
    margin-bottom: 0rem !important;
  }
}

/* Medium Screens (≥768px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .carousel-control-prev {
    margin-left: -2.5rem !important;
  }

  .carousel-control-next {
    margin-right: -2.5rem !important;
  }

  .carousel-control-next-icon:after {
    font-size: 3.5rem !important;
  }

  .carousel-control-prev-icon:after {
    font-size: 3.5rem !important;
  }

  .menu-image {
    max-height: 350px !important;
  }

  .contact-image {
    max-width: 100% !important;
  }

  .row-direction {
    flex-direction: column !important;
  }

  .playroom-text {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .col-md-6 {
    width: 100%;
  }

  .playroom-text-bundle {
    margin-bottom: 0rem !important;
  }
}

/* Large Screens (≥992px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .carousel-control-prev {
    margin-left: -3rem !important;
  }

  .carousel-control-next {
    margin-right: -3rem !important;
  }

  .carousel-control-next-icon:after {
    font-size: 3.5rem !important;
  }

  .carousel-control-prev-icon:after {
    font-size: 3.5rem !important;
  }

  .row-direction {
    flex-direction: column !important;
  }

  .playroom-text {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .col-md-6 {
    width: 100%;
  }

  .playroom-text-bundle {
    margin-bottom: 0rem !important;
  }
}

/* Extra Large Screens (≥1200px) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .carousel-control-prev {
    margin-left: -3rem !important;
  }

  .carousel-control-next {
    margin-right: -3rem !important;
  }

  .playroom-text {
    font-size: 1rem !important;
  }

  .playroom-text-bundle {
    margin-bottom: 1rem !important;
  }
}

/* Extra Extra Large Screens (≥1400px) */
@media (min-width: 1400px) {}

.playroom-bundle-image {
  max-width: 75%;
  object-fit: contain;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.carousel-indicators {
  margin-bottom: 0rem !important;
}

.carousel-indicators [data-bs-target] {
  color: var(--dark-red);
  background-color: var(--dark-red);
}

.carousel-playroom {
  transform: translateX(12.5%) !important;
}

.playroom-main-image {
  max-width: 100%;
}

.playroom-text {
  font-size: 1.2rem;
}